* {
  box-sizing: border-box;
}
body {
  background-image: url(netflix.png);
  color: white;
}
#container {
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
#title {
  text-align: center;
  letter-spacing: 2px;
  font-weight: 700;
  font-family: "Passion One", cursive;
}
#description {
  font-size: 16px;
  font-style: italic;
  font-family: sans-serif;
  text-align: center;
}
#survey-form {
  background-color: rgba(0, 0, 0, 0.8);
  width: 30%;
  border-radius: 5px;
  margin: auto;
}
.box {
  padding-top: 10px;
  padding-left: 30px;
}
.box label {
  display: block;
  margin-bottom: 5px;
}

#fname,
#age,
#email,
#content {
  margin-top: 5px;
  width: 70%;
  height: 30px;
  padding-left: 10px;
}
#content {
  height: 20px;
}
#comments {
  margin-top: 0px;
  width: 70%;
  height: 60px;
  padding-left: 10px;
}
#submit input {
  border: white;
  border-radius: 21px;
  width: 150px;
  height: 42px;
  color: white;
  background-color: #fe0000;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 18px;
}
#submit {
  text-align: center;
}
#submit input:hover {
  background-color: white;
  color: black;
  transition: 0.5s;
  transform: scale(1.1);
}
